@import "../../global.scss";
.portfolio {
  background-color: #faf2f3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  h1 {
    font-size: 50px;
    color: crimson;
  }
  .right {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: large;
    font-style: italic;
    color: blue;
    h1 {
      margin-top: 60px;
      margin-bottom: 40px;
      font-size: 50px;
      color: crimson;
    }
    .skills {
      column-count: 3;
      column-gap: 40px;
      column-fill: auto;
      list-style-position: inside;
      list-style-type: none;
    }
   
    
    a {
      text-decoration: none;
      
    }
    li {
      margin-top: 10px;
    }
  }
  .left {
    flex: 1;
    overflow: hidden;
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      font-style: italic;
      color: inherit;
    }
    h1 {
      margin-top: 60px;
      margin-bottom: 40px;
      font-size: 50px;
      color: crimson;
      display: flex;
      // align-content: center;
      left: 500px;
    }
  }
}
